<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>partimap - control</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="app/app.css">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <script src="vendor/vue.js"></script>
        <script src="confs/credentials.js"></script>

        <script src="vendor/mobile-detect.min.js"></script>
        <script  defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

    </head>

    <body>

        <div id="app">

            <div id="sendmessage" v-if="sendusermessage">
                <div class="box">
                    message for: {{uid_name}}<br>
                    <input type="text" v-model="usermessage">
                    <br>
                    <button v-on:click ="sendmessage2user()">send</button>
                </div>
            </div>
            <div class="slice">
                <h1>PARTIMAP CONTROL ROOM</h1>
            </div>
            <div id="c-traindataset" class="slice" >
                <h2>select training test</h2>

                <select class="tds-select" v-model="tds_active">
                    <option :value="null" disabled>Select test</option>
                    <option v-for="option in tds_list" v-bind:value="option.id" >
                      {{ option.name }}
                    </option>
                </select>
                    <span> </span>
                    <input v-model="limit" type="number" id="limit" name="limit" min="-1" max="100" >
                    <span> limit of  test per pair</span>
                <div v-if="tds_data">
                    <p>{{tds_data.id}} - {{tds_data.name}}</p>
                    <p>type of test : {{tds_data.type}} </p>
                    <p>num. of possible comparisions : {{tds_data.num_tests}} </p>
                    <p> num. of registered votes : {{tds_data.votes}} </p>
                </div>
                
                <!-- funciona /activar cuando haya metadatos interesantes -->
                <!-- <div v-if="tds_data">
                    {{tds_data}}
                </div> -->
                
            </div>

            <div id="c-mainroom"      class="slice" >
                <h2>mainroom</h2>
                <p v-for="i, k in main_room" class="row">
                    <span class="b-out2" v-on:click="move_to_waitingroom(i.uid,k,i)">×</span>
                    <span  class="c-name" >{{i.name}} |</span>
                    
                    <span  class="c-timedot" v-if="users[i.uid]"
                           v-bind:class="{
                               green: ((Date.now() - users[i.uid].l_ts)/1000)<10,
                               orange: ((Date.now() - users[i.uid].l_ts)/1000)<60 && ((Date.now() - users[i.uid].l_ts)/1000)>10,
                               red: ((Date.now() - users[i.uid].l_ts)/1000)>60,
                           }"
                    ></span>

                    <span  class="c-vo" v-if="users[i.uid]">| {{ users[i.uid].votes }} votes</span>
                    <span  class="c-timelapse" v-if="users[i.uid]">| {{ parseInt( (Date.now() - users[i.uid].l_ts)/1000 )}} sec. |</span>
                    <span  class="c-id" >{{i.uid}} |</span>
                    <span class="b-message" v-on:click="writtemessage(i.uid, i.name)">></span>

                </p>
            </div>

            <div id="c-waitingroom"  class="slice" >
                <h2>waitingroom</h2>
                <p v-for="i, k in waiting_room" class="row">
                    <span class="b-out" v-on:click = "remove_user(i.uid, k,i)">×</span>
                    <span class="b-in"  v-on:click = "add_user(i.uid, k,i)"   >&#10003</span>
                    <span class="c-name">{{i.name}}</span><span class="c-id" > - {{i.uid}}</span>
                </p>
            </div>

            <div id="c-messages"  class="slice" >
                <h2>messages center</h2>
                
                <input class="message" v-model = "globalwarning" type="text">
                <button class="send" v-on:click="sendGlobalWarning()">></button>
                <p class="message" v-for="m in globalwarning_list">
                    {{m}}
                </p>
            </div>

            <div class="slice"></div>

        </div>

        <script  defer src="app/app-db.js" ></script>
        <script  defer src="app/control.js" ></script>
    </body>
</html>