<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>partimap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="app/app.css">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <script defer src="vendor/vue.js"></script>
        <script defer  src="confs/credentials.js"></script>

        <script src="vendor/mobile-detect.min.js"></script>
        <script  defer src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
        <script  defer  src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>

    </head>

    <body>
        <div id="app">
            <div id="local-warning" v-if="localwarning" > 
                <div class="content">{{localwarning}}</div>  
                <div>
                    <button class="bf" v-on:click="localwarning=null">close</button>
                </div>  
            </div>

            <div id="global-warning"  v-if="globalwarning"> 
                <div class="content">{{globalwarning}}</div>  
                <div>
                    <button class="bf" v-on:click="globalwarning=null">close</button>
                </div>
             </div>
            
             
            <div id="waiting" v-if="waiting" class="page center" >
                <lottie-player src="icons/lf30_editor_8kr9fwzf.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
            </div>

            <div id="landing-home" class="page center warning" v-if="current=='landing-home'" >    
                <div v-if="is_landscape">
                    <p class="loading">loading contents</p>
                    <lottie-player src="icons/lf30_editor_8kr9fwzf.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
                </div>
                <div v-else  v-on:click="is_landscape=true">
                    <p class="tw">hey, rotate you phone!</p>
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_Yr5Ndi.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
                </div>   
               
            </div>

            <div id='landing-welcome' v-if="current=='landing-welcome'">

                <div v-if ='logged' class="page center" >
                    <h1>hi {{user_name}} !</h1>
                    <div>
                        <button class="bs"  v-on:click="logInit()">change user</button>
                        <button class="bf" v-on:click="current='menu'">continue</button>
                    </div>
                    
                </div>

                <div v-if ='logged==false'>
                    <div id="log-0" class="page center"  v-if="log_current=='log-0'">
                        <h2>sign in</h2>
                        <h3>tell us your name</h3>
                        <input v-model="log_name" placeholder="my name">
                        <button :class="{unactive : log_name.length==0}" class="bf" v-on:click="log_current='log-1'">continue</button>
                    </div>

                    <div id="log-1" class="page center"  v-if="log_current=='log-1'">
                        <h2>sign in</h2>
                        <h3>What is your sex?</h3>
                        <div>
                            <span v-on:click="log_sex='m'" :class="{active:log_sex=='m'}">male</span>
                        </div>

                        <div>
                            <span v-on:click="log_sex='f'" :class="{active:log_sex=='f'}">female</span>
                        </div>

                        <button :class="{unactive : log_sex==null}" v-if="log_name.length>0" class="bf" v-on:click="log_current='log-2'">continue</button>
                    </div>

                    <div id="log-2" class="page center"  v-if="log_current=='log-2'">
                        <h2>sign in</h2>
                        <h3>what is your age?</h3>
                        <div>
                            <span v-on:click="log_age='0-14'"  :class="{active:log_age=='0-14'}">0-14 years old</span>
                        </div>
                        <div>
                            <span v-on:click="log_age='15-29'"  :class="{active:log_age=='15-29'}">15-29 years old</span>
                        </div>
                        <div>
                            <span v-on:click="log_age='30-44'"  :class="{active:log_age=='30-44'}">30-44 years old</span>
                        </div>
                        <div>
                            <span v-on:click="log_age='45+'"  :class="{active:log_age=='45+'}">45+</span>
                        </div>
                        
                        <button :class="{unactive : log_age==null}" class="bf" v-on:click="log_current='log-3'">continue</button>

                    </div>

                    <div id="log-3" class="page center"  v-if="log_current=='log-3'">
                        <h2>sign in</h2>
                        <h3>where dou you live?</h3>
                        <select v-model="log_place">
                            <option v-for="option in log_places_options" v-bind:value="option.value">
                              {{ option.text }}
                            </option>
                        </select>
                        <!-- <span>Selected: {{ log_place }}</span> -->
                        <button :class="{unactive : log_place==null}" class="bf" v-on:click="log_current='log-4'">continue</button>
                    </div>


                    <div id="log-4" class="page center"  v-if="log_current=='log-4'">
                        <h2>sign in</h2>
                        <h3>What is the highest degree or level of education you have completed?</h3>
                        <select v-model="log_education">
                            <option v-for="option in log_education_options" v-bind:value="option.value">
                              {{ option.text }}
                            </option>
                        </select>
                        <!-- <span>Selected: {{ log_education }}</span> -->
                        <button :class="{unactive : log_education==null}" class="bf" v-on:click="log_current='log-5'">continue</button>
                    </div>

                    <!-- * -->

                    <div id="log-5" class="page center"  v-if="log_current=='log-5'">
                        <h2>sign in</h2>
                        <h3>How long have you been living in your current household?</h3>
                        <input v-model="log_time_hh" placeholder="writte here"></input>
                        <h6>Enter the years or month, eg 1y, 12m</h6>
                        <button :class="{unactive : log_time_hh==null}" class="bf" v-on:click="log_current='log-6'">continue</button>
                    </div>

                    <div id="log-6" class="page center"  v-if="log_current=='log-6'">
                        <h2>sign in</h2>
                        <h3>How long have you been living in this current settlement/neighborhood?</h3>
                        <input v-model="log_time_nh" placeholder="writte here"></input>
                        <h6>Enter the years or month, eg 1y, 12m</h6>
                        <button :class="{unactive : log_time_nh==null}" class="bf" v-on:click="log_current='log-7'">continue</button>
                    </div>

                    <div id="log-7" class="page center"  v-if="log_current=='log-7'">
                        <h2>sign in</h2>
                        <h3>How long have you been living in the city of Nairobi?</h3>
                        
                        <input type="text" v-model="log_time_ci" placeholder="writte here"></input>
                        <h6>Enter the years or month, eg 1y, 12m</h6>
                        <button :class="{unactive : log_time_ci==null}" class="bf" v-on:click="log_current='log-8'">continue</button>
                    </div>

     
                    <div id="log-8" class="page center"  v-if="log_current=='log-8'">
                        <h2>sign in</h2>
                        <h3>your phone number?</h3>
                        <input type="text" v-model="phone" placeholder="0711111111"></input>
                        <button :class="{unactive : phone && phone.length<8}" class="bf" v-on:click="log_current='log-9'">continue</button>
                    </div>


                    <div id="log-9" class="page center"  v-if="log_current=='log-9'">
                        <h2>sign in</h2>
                        <h3>confirm your data</h3>

                        <p>
                            name : {{ log_name }}
                        </p>
                        <p>
                            <span class="resum">sex :  {{ log_sex }}</span>
                            <span class="dot"></span>
                            <span class="resum">age :  {{ log_age }}</span>
                            <span class="dot"></span>
                            <span class="resum">place :{{ log_place }}</span>
                        </p>
                        <p>
                            education :{{ log_education }}
                            <br>
                            time long living in household :{{ log_time_hh }}
                            <br>
                            time long living in neighborhood :{{ log_time_nh }}
                            <br>
                            time long living in Nairobi :{{ log_time_ci }}
                            <br>
                        </p>
                        <p>
                            phone :{{ phone }}
                        </p>

                        <div>
                            <div id="recaptcha-container"></div>
                            <button  class="bs" v-on:click="log_current='log-0'">go back</button>
                            <button  class="bf" v-on:click="logUser()">continue (ok)</button>
                             <!-- <button  class="bf" v-on:click="logUserPhone()">sign in</button>  -->
                        </div>
                        
                    </div>


                    <div id="log-confirm" class="page center"  v-if="log_current=='log-confirm'">
                        <h6>
                            we sent you an SMS to your phone with a password<br>
                            introduce it and you will be logged
                        </h6>
                        <input type="text" v-model="password" ></input>
                        <button :class="{unactive : password==null}" class="bf" v-on:click="logConfirm()">confirm</button>
                    </div> 

                    

                </div>

          </div>

            <div id ="menu" class="page center" v-if="current=='menu'">
                <div v-if="c_sessions_private && c_sessions_private_active">
                    <p>private sessions</p>
                    <!-- <button  v-on:click="waitingRoom()">{{c_sessions_private[c_sessions_private_active].name}}</button> -->
                    <button  v-on:click="selectMatch(c_sessions_private[c_sessions_private_active].id, 'private')">{{c_sessions_private[c_sessions_private_active].name}}</button>

                </div>
                <div v-if="c_sessions_open">
                    <p>open sessions</p>
                    <button v-for="n,i in c_sessions_open" v-on:click="selectMatch(n.id, 'open')" >{{n.name}}</button>
                </div>
            </div>

            <div id="waitingroom" class="page center" v-if="current=='waitingroom'">
                <h1>wait</h1>
                <h2>the host is accepting you</h2>
            
            </div>

            <div id="welcome" class="page center" v-if="current=='welcome'">
                <h1>welcome!</h1>
                <p>
                    <strong>which is the best place to live?</strong>
                    <br>
                    choose the image based on the slum area, not on formal houses or industrial buildings
                </p>
                <button class="bf" v-on:click="prepareMatch()" >continue</button>
            </div>

            <div id="gym" class="page" v-if="current=='gym' && gameover==false">
                <div class="center question">
                    which is the best place to live?
                </div>
                <div v-if="t_ready" class="board">
                    <div class="photo-container"  v-on:click="selection = 0" :class="{unactive : selection==1}"><img class="photo" :src="'datasets/'+t_folder+'/WV3_'+t_photo1+'.jpg'" ></div>
                    <span> - </span>
                    <div class="photo-container"  v-on:click="selection = 1" :class="{unactive : selection==0}"><img class="photo" :src="'datasets/'+t_folder+'/WV3_'+t_photo2+'.jpg'" ></div>
                </div>
                <div class="center">
                    <button :class="{unactive : selection==null}"  v-on:click="vote(selection)">ok!</button>
                </div>
            </div>

            <div id="gym-out" class="page center" v-if="current=='gym-out' ||  gameover==true">
                <h1>game over!!</h1>
                <h2>there are no more photos to train</h2>
            </div>

        </div>

        <script  defer src="app/app.js" ></script>
    </body>
</html>