body{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    
}

div {
    box-sizing: border-box
}

span {
    vertical-align: middle;
}



#landing-welcome select{
    font-size: 1em;
    border: 2px solid black;
    padding:5px;
    min-width: 120px;
    margin-top: 10px;
}

#landing-welcome p{
    font-size: 0.8em;
    margin: 5px; 
}

#landing-welcome span{
    border-bottom: 2px solid black;
    padding: 5px;
    min-width: 120px;
    display: block;
    margin: 5px;
}

#landing-welcome span.active{
    border: 2px solid black;
}

#landing-welcome span.resum{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    display: inline;
    border: none;
}
#landing-welcome span.dot{
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    display: inline;
    border: none;
    border-left: 1px solid black;
    margin: 5px;
}

.loading{
    font-size: 1.5em;
}

h1{
    font-size: 2em;
}

h2{

    margin-top: 10px;
}

h3{
    margin: 0px;
    margin-bottom: 10px;
}

h6{
    background-color: rgb(255, 194, 255);
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    border: 0px solid darkblue;
    color: red;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}


p{
    font-size: 1.2em;
}

input{
    font-size:1em;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    margin-top:20px
}

input.message{
    text-align: left;
    margin:0px;
}

button.send{
    font-size: 1em;
    padding: 5px;
    text-align: left;
    border: 2px solid black;
    margin-top: 20px;
    width: 30px;
    min-width: inherit;
    background: black;
    color: white;
}

#waiting{
    background-color: rgba(0, 0, 0, 0.4);
}

.page{
    min-height: 100vh;
    border: 1px solid black;
    padding: 0px;
}

.slice{
    border-top: 2px solid black;
    padding: 10px;
    /* margin-top: 10px;; */
}


.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page.warning{
    background-color: rgb(30,30,30);
    color: white;
}

button{
    border: 1px solid black ;
    border-radius: 0px;
    margin: 10px;
    padding: 8px;
    font-size: 1.2em;
    min-width: 150px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

button.unactive{
    /* background-color: lightgray; */
    pointer-events: none;
    opacity: 0.5;
}

button.bf{ 
    background-color: black;
    color: white;
}

button.bs{
    color: rgb(46, 46, 46);
    border-color: gray;
}


lottie-player{
    display: inline-block;
}

.tw {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid orange;  The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; */
    animation: 
      typing 1.5s steps(12, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#gym{
    background-color: rgb(53, 53, 53);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

#gym button{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.question{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.board {
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 53, 53);
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.photo-container {
    display: inline;
}

.photo-container.unactive {
    opacity: 0.3;
}

img.photo {
    height: calc(100vh - 120px);
    border: 2px solid rgb(53,53,53);
}

/* .board:hover img{
    opacity: 0.54;
} */

img.photo:hover{
    opacity: 1 !important;
    border: 2px solid rgba(255, 255, 255, 1); 
    /* box-sizing: border-box */
}

.b-out{
    background-color: palevioletred;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.1em;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;

}

.b-out2{
    /* background-color: red; */
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.1em;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;

}

.b-in{
    background-color: greenyellow;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    line-height:1em;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid black;
    margin-right: 10px;
    cursor: pointer;
}

.row{
    vertical-align: middle;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.c-id{
    color: gray;
    font-size: 0.8em;
}


.c-name{
    color: rgb(0, 0, 0);
    font-size: 01em;
    font-weight: 900;
}

.c-timedot{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.tds-select{
    font-size: 1.4em;
    padding: 5px;
    border:1px solid white;
    border-bottom: 1px solid black;
    background: white;
}

.green {
    background-color: greenyellow;
}
 
.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

/*-------*/
#global-warning{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    
}

#global-warning div{
    text-align: center;
}

#global-warning .content{
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2em;
}

#global-warning .close{
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;

    
}

/*-------*/
#local-warning{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(255, 108, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
    
}

#local-warning div{
    text-align: center;
}

#local-warning .content{
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 2em;
}

#local-warning .close{
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;

    
}
/*------*/


#sendmessage{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgb(107, 107, 107);
    display: flex;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.box{
    background: rgb(177, 177, 177);
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
}

.b-message{
    border: 1px solid black;
    height: 20px;
    width:20px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    line-height: 1.1em;
    font-weight: 400;
    cursor: pointer;
}

#limit{
    width: 50px;;
}